
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../views/partials/head %>
    <title></title>
  </head>
  <body>
    <% include ../views/partials/header %>
    <header>
      <div class="overlay"></div>
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://i.imgur.com/kutlBXz.mp4" type="video/mp4">
      </video>
      <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
          <div class="w-100 text-white">
            <h1 class="display-3">GEOMAPSTR</h1>
            <p class="lead mb-0">Next Gen Earthquake Mapping Tool</p>
            <img src="assets/icon.png" style="height:80px">
          </div>
        </div>
      </div>
    </header>

    <div class="container-fluid my-5">
   <div class="row">
  <div class="col-sm-8">
  <h2>What do we do?</h2>
  <h5> GeoMapster is a real time earthquake tracking app. This app will sort and display earthquakes by magnitude and date. Also displayed on the maps are Area of disaster (AOD). The app also geolocates a users location. </h5>
  <h5>  This app was created by Daniel Jimenez and Jorge Ortega as part of their final project for the coding boot camp, cultivatingcoders. The goal was to use open source software to fetch the data from a public database and display it in a map with custom icons.  </h5>
  <h3>the app is developed with the following technologies;
  </h3>
  <P>
  <ol class="listitems">
    <li> <i class="fab fa-twitter"></i> twitter bootstrap </li>
    <li> <i class="fas fa-leaf"></i> leaflet.js</li>
    <li> <i class="fab fa-js-square"></i> express.js</li>
    <li> <i class="fas fa-database"></i> mongoDB</li>
    <li> <i class="fab fa-node"></i> Node.js</li>
    <li> <i class="fab fa-git-alt"></i> Git</li>
    <li> <span class="iconify" data-icon="simple-icons:heroku" data-inline="false"></span> heroku</li>
    <li> <i class="fas fa-globe-americas"></i> usgs.gov </li>
  </ol>
</P>
</div>

<div class="col-sm-4 text-right">
  <img src="assets/icon.png">
</div>
  </div>
    </div>


<div class="container-fluid">
<div class="row">
<div class="col-sm-12">
<h1>Live Updates</h1>
<i class="fa-fa-facebook"></i>
</div> <!-- end of col-sm-12 -->
</div> <!-- end of row -->
</div><!-- end of container -->



    <div class="container-fluid">
  <div class="row">
<div class="col-sm-3">
  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">This app developed by members of the <a href="https://twitter.com/hashtag/ArcGIS?src=hash&amp;ref_src=twsrc%5Etfw">#ArcGIS</a> <a href="https://twitter.com/hashtag/LivingAtlas?src=hash&amp;ref_src=twsrc%5Etfw">#LivingAtlas</a> team shows <a href="https://twitter.com/hashtag/HurricaneDorian?src=hash&amp;ref_src=twsrc%5Etfw">#HurricaneDorian</a> path. Click anywhere to tap into Living Atlas to learn more about wind, rain, and impacted population demographics. <a href="https://t.co/9K8FKrdMTs">https://t.co/9K8FKrdMTs</a> <a href="https://twitter.com/hashtag/esri?src=hash&amp;ref_src=twsrc%5Etfw">#esri</a> <a href="https://twitter.com/hashtag/arcgisonline?src=hash&amp;ref_src=twsrc%5Etfw">#arcgisonline</a> <a href="https://t.co/jZ0CLPGWmO">pic.twitter.com/jZ0CLPGWmO</a></p>&mdash; Bern Szukalski (@bernszukalski) <a href="https://twitter.com/bernszukalski/status/1167656600686874637?ref_src=twsrc%5Etfw">August 31, 2019</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div><!-- end of div -->

<div class="col-sm-3">

  <blockquote class="twitter-tweet"><p lang="en" dir="ltr">From a distant universe to the center of the earth: Two <a href="https://twitter.com/hashtag/PackardFellows?src=hash&amp;ref_src=twsrc%5Etfw">#PackardFellows</a> collaborated using Brice Ménard’s algorithm to identify trends in Vedran Lekic’s seismology data. The result? New ways of understanding <a href="https://twitter.com/hashtag/earthquakes?src=hash&amp;ref_src=twsrc%5Etfw">#earthquakes</a>. <a href="https://t.co/Q7LcWwwl1R">https://t.co/Q7LcWwwl1R</a> <a href="https://twitter.com/umdgeology?ref_src=twsrc%5Etfw">@umdgeology</a> <a href="https://twitter.com/JHUPhysicsAstro?ref_src=twsrc%5Etfw">@JHUPhysicsAstro</a> <a href="https://t.co/CJm7UXAbni">pic.twitter.com/CJm7UXAbni</a></p>&mdash; Packard Foundation (@PackardFdn) <a href="https://twitter.com/PackardFdn/status/1170410682258341888?ref_src=twsrc%5Etfw">September 7, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div><!-- end of div -->

<div class="col-sm-3">

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Latest Earthquake Data - Volcano Discovery: Earthquakes - <a href="https://t.co/gerk74rT2G">https://t.co/gerk74rT2G</a><a href="https://twitter.com/hashtag/earthquakes?src=hash&amp;ref_src=twsrc%5Etfw">#earthquakes</a> <a href="https://twitter.com/hashtag/worldwide?src=hash&amp;ref_src=twsrc%5Etfw">#worldwide</a><br>NOTE: Add 2 points to all earthquakes to reflect true magnitude levels.</p>&mdash; Inbound Planet (@InboundPlanet) <a href="https://twitter.com/InboundPlanet/status/1171175274739748864?ref_src=twsrc%5Etfw">September 9, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div><!-- end of div -->

<div class="col-sm-3">

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Earthquake Ml. 1.7 19/09/10 17.29<br>Gmt.44.7412 6.7213 dpt 9.4km.<br>Near city Granges de Furfande.<br>Data from SURVEY-INGV.<br>(Do not use for safety purpose).<a href="https://twitter.com/hashtag/terremoto?src=hash&amp;ref_src=twsrc%5Etfw">#terremoto</a> <a href="https://twitter.com/hashtag/earthquake?src=hash&amp;ref_src=twsrc%5Etfw">#earthquake</a> <a href="https://twitter.com/hashtag/italyearthquake?src=hash&amp;ref_src=twsrc%5Etfw">#italyearthquake</a><br>Powered by <a href="https://t.co/LpwMF9p7BL">https://t.co/LpwMF9p7BL</a> <a href="https://t.co/9BvzWsGUjV">pic.twitter.com/9BvzWsGUjV</a></p>&mdash; Osservatorio Meteo-Sismico di Perugia (@OMSPerugia) <a href="https://twitter.com/OMSPerugia/status/1171493882342731781?ref_src=twsrc%5Etfw">September 10, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div><!-- end of div -->


  </div><!-- end of container -->
</div> <!-- end of row -->

<!-- 2ND ROW -->

<div class="container-fluid">
<div class="row">
<div class="col-sm-3">
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">There images show several days of seismic data from a station outside of Ochoppi, FL, USA (shown as the green triangle on the map) shows <a href="https://twitter.com/hashtag/HurricaneDorian?src=hash&amp;ref_src=twsrc%5Etfw">#HurricaneDorian</a> approaching the coast of <a href="https://twitter.com/hashtag/Florida?src=hash&amp;ref_src=twsrc%5Etfw">#Florida</a>. <a href="https://t.co/AqADOKe3C3">pic.twitter.com/AqADOKe3C3</a></p>&mdash; IRIS Earthquake Sci (@IRIS_EPO) <a href="https://twitter.com/IRIS_EPO/status/1168863285229346817?ref_src=twsrc%5Etfw">September 3, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div><!-- end of div -->

<div class="col-sm-3">

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Bahan utk reasoning <a href="https://twitter.com/hashtag/IbuKotaBaru?src=hash&amp;ref_src=twsrc%5Etfw">#IbuKotaBaru</a> <a href="https://twitter.com/hashtag/Indonesia?src=hash&amp;ref_src=twsrc%5Etfw">#Indonesia</a>. Earthquake map 2017. Data from usgs <a href="https://t.co/1z3MjMLO63">pic.twitter.com/1z3MjMLO63</a></p>&mdash; agung wahyudi (@agungwah) <a href="https://twitter.com/agungwah/status/1168354483350331392?ref_src=twsrc%5Etfw">September 2, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div><!-- end of div -->

<div class="col-sm-3">

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Earthquake and big data <a href="https://twitter.com/hashtag/mapping?src=hash&amp;ref_src=twsrc%5Etfw">#mapping</a> experts: Q&amp;A with Zach Levitt from the LA Times <a href="https://t.co/Xn0nKt77ZE">https://t.co/Xn0nKt77ZE</a></p>&mdash; GeoNe.ws (@GeoNe_ws) <a href="https://twitter.com/GeoNe_ws/status/1169285255007756290?ref_src=twsrc%5Etfw">September 4, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div><!-- end of div -->

<div class="col-sm-3">

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Real-time Earthquake Map UC Berkeley Seismology Lab. The Berkeley Seismological Laboratory conducts essential research on earthquakes and solid earth processes while collecting and delivering high-quality geophysical data. <a href="https://t.co/IdlH9Z2s8Y">https://t.co/IdlH9Z2s8Y</a> . <a href="https://t.co/Hyo64WDLAK">pic.twitter.com/Hyo64WDLAK</a></p>&mdash; Janett Wawrzyniak (@wawrzyniak9) <a href="https://twitter.com/wawrzyniak9/status/1168224003028180993?ref_src=twsrc%5Etfw">September 1, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div><!-- end of div -->


</div><!-- end of container -->
</div> <!-- end of row -->
      <% include ../views/partials/footer %>
  </body>
</html>
