
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../views/partials/head %>
    <title></title>
  </head>
  <body>
    <% include ../views/partials/header %>
    <header>
      <div class="overlay"></div>
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
      </video>
      <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
          <div class="w-100 text-white">
            <h1 class="display-3">GEOMAPSTR</h1>
            <p class="lead mb-0">Next Gen Earthquake Mapping Tool</p>
            <img src="assets/icon.png" style="height:80px">
          </div>
        </div>
      </div>
    </header>

    <div class="container-fluid my-5">
   <div class="row">
  <div class="col-sm-8">
  <h3>What do we do?</h1>
  <p>The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout. A practice not without controversy, laying out pages with meaningless filler text can be very useful when the focus is meant to be on design, not content.

The passage experienced a surge in popularity during the 1960s when Letraset used it on their dry-transfer sheets, and again during the 90s as desktop publishers bundled the text with their software. Today it's seen all around the web; on templates, websites, and stock designs. Use our generator to get your own, or read on for the authoritative history of lorem ipsum.</p>
</div>

<div class="col-sm-4 text-right">
  <img src="assets/icon.png">
</div>
  </div>
    </div>


<div class="container-fluid">
<div class="row">
<div class="col-sm-12">
<h1>Live Updates</h1>
<i class="fa-fa-facebook"></i>
</div> <!-- end of col-sm-12 -->
</div> <!-- end of row -->
</div><!-- end of container -->



    <div class="container-fluid">
  <div class="row">
<div class="col-sm-3">
  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">This app developed by members of the <a href="https://twitter.com/hashtag/ArcGIS?src=hash&amp;ref_src=twsrc%5Etfw">#ArcGIS</a> <a href="https://twitter.com/hashtag/LivingAtlas?src=hash&amp;ref_src=twsrc%5Etfw">#LivingAtlas</a> team shows <a href="https://twitter.com/hashtag/HurricaneDorian?src=hash&amp;ref_src=twsrc%5Etfw">#HurricaneDorian</a> path. Click anywhere to tap into Living Atlas to learn more about wind, rain, and impacted population demographics. <a href="https://t.co/9K8FKrdMTs">https://t.co/9K8FKrdMTs</a> <a href="https://twitter.com/hashtag/esri?src=hash&amp;ref_src=twsrc%5Etfw">#esri</a> <a href="https://twitter.com/hashtag/arcgisonline?src=hash&amp;ref_src=twsrc%5Etfw">#arcgisonline</a> <a href="https://t.co/jZ0CLPGWmO">pic.twitter.com/jZ0CLPGWmO</a></p>&mdash; Bern Szukalski (@bernszukalski) <a href="https://twitter.com/bernszukalski/status/1167656600686874637?ref_src=twsrc%5Etfw">August 31, 2019</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div><!-- end of div -->

<div class="col-sm-3">

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">This app developed by members of the <a href="https://twitter.com/hashtag/ArcGIS?src=hash&amp;ref_src=twsrc%5Etfw">#ArcGIS</a> <a href="https://twitter.com/hashtag/LivingAtlas?src=hash&amp;ref_src=twsrc%5Etfw">#LivingAtlas</a> team shows <a href="https://twitter.com/hashtag/HurricaneDorian?src=hash&amp;ref_src=twsrc%5Etfw">#HurricaneDorian</a> path. Click anywhere to tap into Living Atlas to learn more about wind, rain, and impacted population demographics. <a href="https://t.co/9K8FKrdMTs">https://t.co/9K8FKrdMTs</a> <a href="https://twitter.com/hashtag/esri?src=hash&amp;ref_src=twsrc%5Etfw">#esri</a> <a href="https://twitter.com/hashtag/arcgisonline?src=hash&amp;ref_src=twsrc%5Etfw">#arcgisonline</a> <a href="https://t.co/jZ0CLPGWmO">pic.twitter.com/jZ0CLPGWmO</a></p>&mdash; Bern Szukalski (@bernszukalski) <a href="https://twitter.com/bernszukalski/status/1167656600686874637?ref_src=twsrc%5Etfw">August 31, 2019</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div><!-- end of div -->

<div class="col-sm-3">

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">For all the semicolon haters out there: when adding imports or refactoring <a href="https://twitter.com/hashtag/JavaScript?src=hash&amp;ref_src=twsrc%5Etfw">#JavaScript</a>/<a href="https://twitter.com/hashtag/TypeScript?src=hash&amp;ref_src=twsrc%5Etfw">#TypeScript</a>, the latest <a href="https://twitter.com/code?ref_src=twsrc%5Etfw">@code</a> insiders now looks at your coding style to determine whether to use that most pompous of punctuators<br><br>Try it today and share your feedback: <a href="https://t.co/gec0VZMw9a">https://t.co/gec0VZMw9a</a> <a href="https://t.co/Up8bmhOI71">pic.twitter.com/Up8bmhOI71</a></p>&mdash; Matt Bierner (@mattbierner) <a href="https://twitter.com/mattbierner/status/1167484942428692480?ref_src=twsrc%5Etfw">August 30, 2019</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div><!-- end of div -->

<div class="col-sm-3">

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">This app developed by members of the <a href="https://twitter.com/hashtag/ArcGIS?src=hash&amp;ref_src=twsrc%5Etfw">#ArcGIS</a> <a href="https://twitter.com/hashtag/LivingAtlas?src=hash&amp;ref_src=twsrc%5Etfw">#LivingAtlas</a> team shows <a href="https://twitter.com/hashtag/HurricaneDorian?src=hash&amp;ref_src=twsrc%5Etfw">#HurricaneDorian</a> path. Click anywhere to tap into Living Atlas to learn more about wind, rain, and impacted population demographics. <a href="https://t.co/9K8FKrdMTs">https://t.co/9K8FKrdMTs</a> <a href="https://twitter.com/hashtag/esri?src=hash&amp;ref_src=twsrc%5Etfw">#esri</a> <a href="https://twitter.com/hashtag/arcgisonline?src=hash&amp;ref_src=twsrc%5Etfw">#arcgisonline</a> <a href="https://t.co/jZ0CLPGWmO">pic.twitter.com/jZ0CLPGWmO</a></p>&mdash; Bern Szukalski (@bernszukalski) <a href="https://twitter.com/bernszukalski/status/1167656600686874637?ref_src=twsrc%5Etfw">August 31, 2019</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div><!-- end of div -->


  </div><!-- end of container -->
</div> <!-- end of row -->
      <% include ../views/partials/footer %>
  </body>
</html>
