<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V18</title>
	<meta charset="UTF-8">
	<% include ../views/partials/head %>

<!--===============================================================================================-->
</head>
<% include ../views/partials/header %>

<body>
<div class="container-fluid">
 <div class="row">
 <div class="col-sm-6" id="background-div">  </div>

 <div class="col-sm-6">



	 <form action="/users/login" method="POST">

		 	 <h1 class="text-center mb-3">
		 	         <i class="fas fa-user-plus"></i> Login
		 	       </h1>
	        <div class="form-group">
	          <label for="email">Email</label>
	          <input
	            type="email"
	            id="email"
	            name="email"
	            class="form-control"
	            placeholder="Enter Email"
	          />
	        </div>
	        <div class="form-group">
	          <label for="password">Password</label>
	          <input
	            type="password"
	            id="password"
	            name="password"
	            class="form-control"
	            placeholder="Enter Password"
	          />
	        </div>
	        <button type="submit" class="btn btn-primary btn-block">Login</button>
	      </form>
	      <a href="/auth/login/facebook">
	        <button type="button" class="btn btn-info btn-block">Login with FaceBook</button>
	      </a>
	      <p class="lead mt-4">
	        No Account? <a href="/users/register">Register</a>
	      </p>


 </div>
</div>
</div>

<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>
